body {
	padding-top: 60px!important; /* 60px to make the container go all the way to the bottom of the topbar */
}

#allProjectsTable{
	display: none;
}

.alter_project_div{
	
}

tr.project{
	padding: 5px 10px;
	margin: 7px;
}

#new_task{
	margin: 0 0 10px 0;
}

#errorContainer{
  display:none;
}

.error{
  background-color: #DBA9BD;
}